/* Masonry grid */


.masonry .brick {
	margin-bottom: 30px;
	display: inline-block;
	vertical-align: top;
}

@media only screen and (min-width: 1024px) {
.masonry {
	column-count: 5;
}
}


.masonry2 {
  columns: 3;
  column-gap: 10px;
}
.masonry2-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}